body{
    background-color:#D8D9DA;
    width: 100%;
}
.hero{
    /* background-color: lightblue; */
    height: 500px;
    background-image: url("./images/cloud.jpg");
    background-size: 100% 500px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: #10454F;
    font-size: 80px;
    margin-bottom: 40px;
}
.main-content>p{
    color: #002333;
    font-size: 30px;
   
    margin-top: 0%;
   
}
.main-part{
    display: flex;
    padding: 70px;
}
.main-part .article{
    height: 600px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-top: 40px;
}
.main-part img{
    height: 600px;
    width: 700px;
    margin-left: 240px;
}


.footer{
    height: 200px;
    background-color:darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact{
    padding-bottom: 10px;
}
.contact>button{
    border-radius: 5%;
    height: 30px;
}
.contact a{
    text-decoration: none;
    padding: 40px;
    font-size: 25px;
    color: #16003B;
    font-weight: bold;
}
.contact a:hover{
    color: white;
}
.development{
    display: grid;
    grid-template-columns: 400px auto;
    gap: 100px;
    padding: 100px;
    
}
.development img{
    height: 200px;
}
.development h2{
    grid-column: span 2;
    justify-self: center;
    font-size: 40px;
}
.footer p{
    font-size: 25px;
}
@media (min-width: 320px) and (max-width: 1024px) {
    .main-part {
        display: grid;
        grid-template-columns: 100%;
    }
    .main-part .article {
        width: 100%;
        margin-left: 0px;    
    }
    .main-part img{
        margin-left: 0px;
    }
    .development{
        display: grid;
        grid-template-columns: 100%;
    }
}
